.obsidian/plugins/*
!zhongwen-block

.obsidian/appearance.json

.obsidian/workspace.json
.obsidian/workspace-mobile.json

.obsidian/core-plugins.json
.obsidian/core-plugins-migration.json
.obsidian/community-plugins.json

.trash
